examples/MH Inject.json
[
    {
        "id": "beafc52d435f41c3",
        "type": "tab",
        "label": "Inject (example)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b90dd9234a017ae7",
        "type": "group",
        "z": "beafc52d435f41c3",
        "name": "Inject SCS Bus",
        "style": {
            "label": true,
            "fill": "#ffffbf",
            "stroke-opacity": "0.6",
            "fill-opacity": "0.6",
            "color": "#3f3f3f"
        },
        "nodes": [
            "71710b3740fc4328",
            "4e632adb147c27ca",
            "a04ddd85b343649c",
            "74d3c2ae875f8cc9",
            "4cbaa05bb375f479",
            "f80cfe24c0121682",
            "64d85e1579e61262",
            "6858cb61672b5c0c",
            "87c99da979c3996c",
            "4f8907fa4487242c",
            "8cecfe996a5d487b",
            "19ee7afa6699640f"
        ],
        "x": 34,
        "y": 11,
        "w": 1112,
        "h": 710
    },
    {
        "id": "71710b3740fc4328",
        "type": "comment",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "!! Before you begin, do not forget to configure your gateway (open 'MH Inject' node config and select + edit the 'gateway' defined to set the IP and password) \\n \\n The 'MH Inject' node allows to send command directly to the SCS bus, using the OpenWebNet protocol. \\n When the command sent receives a response when pushed to the bus, the response(s) are sent back in output (in msg.payload.command_responses) \\n \\n Notes: \\n - while it can sound 'logical' to receive a response from some types of command, it is however not always the case (e.g. when you turn a light on, no response is \\n   received ... but the info about lamp being turned on will be sent on the bus globally, meaning you can catch it using a monitoring node, knowing it will begin \\n   a different flow...) \\n - multiple commands can be sent at once",
        "info": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e632adb147c27ca",
        "type": "myhome-commandsession",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "MH Inject",
        "gateway": "a4e23617.d0c288",
        "intercommandsdelay": "",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "a04ddd85b343649c"
            ]
        ]
    },
    {
        "id": "f80cfe24c0121682",
        "type": "inject",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Turn on group of lights '23' (*1*1*#23##)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*1*1*#23##",
        "payloadType": "str",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "4e632adb147c27ca"
            ]
        ],
        "icon": "node-red-contrib-myhome-bticino-v2/mh-lightbulb-group.svg"
    },
    {
        "id": "74d3c2ae875f8cc9",
        "type": "inject",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Ask Light A=2 / PL=2 status (*#1*22##)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*#1*22##",
        "payloadType": "str",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "4e632adb147c27ca"
            ]
        ],
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "64d85e1579e61262",
        "type": "inject",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Ask state of all lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*#1*0##",
        "payloadType": "str",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "4e632adb147c27ca"
            ]
        ],
        "icon": "font-awesome/fa-question-circle-o"
    },
    {
        "id": "4cbaa05bb375f479",
        "type": "inject",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Turn off Light A=2 / PL=2 status (*1*0*22##)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*1*0*22##",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "4e632adb147c27ca"
            ]
        ],
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "6858cb61672b5c0c",
        "type": "inject",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Open shutter A=3 / PL=2 (*2*1*32##)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*2*1*32##",
        "payloadType": "str",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "4e632adb147c27ca"
            ]
        ]
    },
    {
        "id": "a04ddd85b343649c",
        "type": "debug",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "responses received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "87c99da979c3996c",
        "type": "comment",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Some light calls...",
        "info": "",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "4f8907fa4487242c",
        "type": "comment",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Some shutter calls...",
        "info": "",
        "x": 350,
        "y": 540,
        "wires": []
    },
    {
        "id": "8cecfe996a5d487b",
        "type": "inject",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Turn on lights 1.1 + 1.2 + 1.3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*1*1*#11##;*1*1*#12##;*1*1*#13##",
        "payloadType": "str",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "4e632adb147c27ca"
            ]
        ],
        "icon": "node-red-contrib-myhome-bticino-v2/mh-lightbulb-group.svg"
    },
    {
        "id": "19ee7afa6699640f",
        "type": "comment",
        "z": "beafc52d435f41c3",
        "g": "b90dd9234a017ae7",
        "name": "Advanced calls",
        "info": "",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "a4e23617.d0c288",
        "type": "myhome-gateway",
        "name": "F-455",
        "host": "192.168.0.210",
        "port": "20000",
        "pass": "12345",
        "timeout": "600",
        "lights_onconnect_refreshloads": true,
        "log_in_lights": false,
        "log_in_shutters": false,
        "log_in_temperature": false,
        "log_in_scenario": false,
        "log_in_energy": false,
        "log_in_others": false,
        "log_out_cmd": false
    }
]
