examples/MH Light (point).json
[{"id":"125a7426.3ccc94","type":"tab","label":"Light (point) - example","disabled":false,"info":""},{"id":"4535d7f01ba70b90","type":"group","z":"125a7426.3ccc94","g":"1c23086ee80c3ea8","name":"Monitor changes made on a single light point","style":{"stroke-opacity":"0.6","label":true,"fill":"#d1d1d1","fill-opacity":"0.6","color":"#6A7E64"},"nodes":["616748750a2d01c6","c8fc9d6d3cc04009","6d489150.4f01d8"],"x":714,"y":219,"w":452,"h":322},{"id":"c69ec9937877eeee","type":"group","z":"125a7426.3ccc94","g":"1c23086ee80c3ea8","name":"Send a request for a single light point","style":{"stroke-opacity":"0.6","fill":"#d1d1d1","fill-opacity":"0.6","label":true,"color":"#7E909D"},"nodes":["e7e754e768277b3c","e1b77b8f65ae0770","66a84f3e4d7aed65","ecae4965a980c9fa","52bf649eb62a6b65","d8d81f004a3ef575","6db6c82d04d321d0","e968bdf13ecd7bf9"],"x":54,"y":219,"w":372,"h":462},{"id":"1c23086ee80c3ea8","type":"group","z":"125a7426.3ccc94","name":"Simple light - ON / OFF / Dim","style":{"label":true,"fill":"#ffffbf","stroke-opacity":"0.6","fill-opacity":"0.6","color":"#3f3f3f"},"nodes":["cbb9c48b.d8aa98","cdd52f6fcc5ae34c","4535d7f01ba70b90","c69ec9937877eeee"],"x":14,"y":7,"w":1212,"h":700},{"id":"cbb9c48b.d8aa98","type":"myhome-light","z":"125a7426.3ccc94","g":"1c23086ee80c3ea8","name":"Light (A=1 / PL=5)","buslevel":"private_riser","lightid":"15","isgroup":false,"topic":"light","gateway":"a4e23617.d0c288","smartfilter":true,"skipevents":false,"isstatusrequest":false,"output2_name":"","output2_type":"boolean","x":570,"y":380,"wires":[["6d489150.4f01d8"],["616748750a2d01c6"]]},{"id":"6d489150.4f01d8","type":"debug","z":"125a7426.3ccc94","g":"4535d7f01ba70b90","name":"Full message output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":260,"wires":[]},{"id":"cdd52f6fcc5ae34c","type":"comment","z":"125a7426.3ccc94","g":"1c23086ee80c3ea8","name":"!! Before you begin, do not forget to configure your gateway (open 'light' node config and select + edit the 'gateway' defined to set the IP and password) \\n \\n Within the 'light' node, you have to set its number (A=1 PL=5 becomes 15, when A>9 or PL>9, the format is 4 digits; e.g. A=11 PL=5 becomes 1105, A=1 PL=15 becomes 0115) \\n - To turn lamp on or off, simply send True/False as payload \\n - To dim it, send the percentage (20 - 100%) as payload \\n \\n Do NOT forget you also have to include a .topic which 'cmd/<<light_node_topic>>' to allow state change","info":"","x":620,"y":120,"wires":[]},{"id":"e7e754e768277b3c","type":"inject","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Turn on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/light","payload":"true","payloadType":"bool","x":350,"y":260,"wires":[["cbb9c48b.d8aa98"]],"icon":"font-awesome/fa-toggle-on"},{"id":"e1b77b8f65ae0770","type":"inject","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Turn off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/light","payload":"false","payloadType":"bool","x":350,"y":300,"wires":[["cbb9c48b.d8aa98"]],"icon":"font-awesome/fa-toggle-off"},{"id":"616748750a2d01c6","type":"debug","z":"125a7426.3ccc94","g":"4535d7f01ba70b90","name":"Simplified output (payload=true / false)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":500,"wires":[]},{"id":"66a84f3e4d7aed65","type":"inject","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Dim to 20%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/light","payload":"20","payloadType":"num","x":330,"y":360,"wires":[["cbb9c48b.d8aa98"]],"icon":"font-awesome/fa-star-half-empty"},{"id":"ecae4965a980c9fa","type":"inject","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Dim to 100%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/light","payload":"100","payloadType":"num","x":330,"y":400,"wires":[["cbb9c48b.d8aa98"]],"icon":"font-awesome/fa-star"},{"id":"52bf649eb62a6b65","type":"inject","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Advanced mode : msg (ON @50%)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/light","payload":"{\"state\":\"ON\",\"brightness\":50}","payloadType":"json","x":260,"y":640,"wires":[["cbb9c48b.d8aa98"]],"icon":"node-red/parser-json.svg"},{"id":"d8d81f004a3ef575","type":"inject","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Ask for current state","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"state/light","x":310,"y":540,"wires":[["cbb9c48b.d8aa98"]],"icon":"font-awesome/fa-question-circle-o"},{"id":"6db6c82d04d321d0","type":"comment","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"To ask for light current state, simply set \\n a Topic 'state/<<light_node_topic>>' ","info":"","x":250,"y":480,"wires":[]},{"id":"e968bdf13ecd7bf9","type":"comment","z":"125a7426.3ccc94","g":"c69ec9937877eeee","name":"Build your own advanced msg if needed","info":"","x":240,"y":600,"wires":[]},{"id":"c8fc9d6d3cc04009","type":"comment","z":"125a7426.3ccc94","g":"4535d7f01ba70b90","name":"Simplified output can be configured in node based on \\n what you need in your flow later on. This avoids having \\n to insert additional 'function' or 'switch' nodes. \\n See node config for more info","info":"","x":940,"y":420,"wires":[]},{"id":"a4e23617.d0c288","type":"myhome-gateway","name":"F-455","host":"192.168.0.210","port":"20000","pass":"12345","timeout":"600","log_in_lights":false,"log_in_shutters":false,"log_in_temperature":false,"log_in_scenario":false,"log_in_energy":false,"log_in_others":false,"log_out_cmd":false}]
