examples/MH Monitoring.json
[{"id":"f25309aba39d0331","type":"tab","label":"Monitor (example)","disabled":false,"info":"","env":[]},{"id":"77d4d6f25d9b9bcf","type":"group","z":"f25309aba39d0331","name":"Monitor SCS Bus","style":{"label":true,"fill":"#ffffbf","stroke-opacity":"0.6","fill-opacity":"0.6","color":"#3f3f3f"},"nodes":["39edcaf9e91dc7f3","8607e5632904177b","b8576b231514dffe","65facc5a033cbfd4","b1ed893e.fc90e8"],"x":14,"y":23,"w":1172,"h":418},{"id":"39edcaf9e91dc7f3","type":"comment","z":"f25309aba39d0331","g":"77d4d6f25d9b9bcf","name":"!! Before you begin, do not forget to configure your gateway (open 'Monitor lights/shutters' node config and select + edit the 'gateway' defined to set the IP and password) \\n \\n The 'Monitor lights/shutters' node is configured to only track SCS commands which are about lights. \\n When you turn on the light (physically I mean :-) ) you want to find the MyHome light/shutter number, \\n the debug window will display the message generated on the SCS bus. You can then use it to discover the MyHome light number : \\n - for lights, the message will be as *1*1*xx## when on or *1*0*xx## when off, where xx is the number (A/PL) you need \\n - for shutters, the message will be as *2*??*xx## where xx is the number (A/PL) you need \\n \\n You can also use this node to monitor anything passing on the SCS bus.","info":"","x":600,"y":160,"wires":[]},{"id":"b1ed893e.fc90e8","type":"myhome-eventsession","z":"f25309aba39d0331","g":"77d4d6f25d9b9bcf","name":"Monitor lights","gateway":"a4e23617.d0c288","own_lights":true,"own_shutters":false,"own_temperature":false,"own_scenario":false,"own_energy":false,"own_others":false,"x":130,"y":320,"wires":[["b8576b231514dffe"]]},{"id":"8607e5632904177b","type":"myhome-eventsession","z":"f25309aba39d0331","g":"77d4d6f25d9b9bcf","name":"Monitor shutters","gateway":"a4e23617.d0c288","own_lights":false,"own_shutters":true,"own_temperature":false,"own_scenario":false,"own_energy":false,"own_others":false,"x":140,"y":400,"wires":[["65facc5a033cbfd4"]]},{"id":"b8576b231514dffe","type":"debug","z":"f25309aba39d0331","g":"77d4d6f25d9b9bcf","name":"Full message output (on any LIGHT update)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"65facc5a033cbfd4","type":"debug","z":"f25309aba39d0331","g":"77d4d6f25d9b9bcf","name":"Full message output (on any SHUTTER update)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":400,"wires":[]},{"id":"a4e23617.d0c288","type":"myhome-gateway","name":"F-455","host":"192.168.0.210","port":"20000","pass":"12345","timeout":"600","log_in_lights":false,"log_in_shutters":false,"log_in_temperature":false,"log_in_scenario":false,"log_in_energy":false,"log_in_others":false,"log_out_cmd":false}]