examples/MH Shutter.json
[{"id":"768c6b3dbed7ea7d","type":"tab","label":"Shutter (example)","disabled":false,"info":"","env":[]},{"id":"20065e304bb0a995","type":"group","z":"768c6b3dbed7ea7d","name":"Simple light - ON / OFF / Dim","style":{"label":true,"fill":"#ffffbf","stroke-opacity":"0.6","fill-opacity":"0.6","color":"#3f3f3f"},"nodes":["220c83501dd7616a","ec3f2571bd4200cb","fec2aca47bc3ddac","edd9e175b87a013b"],"x":14,"y":27,"w":1212,"h":800},{"id":"ec3f2571bd4200cb","type":"group","z":"768c6b3dbed7ea7d","g":"20065e304bb0a995","name":"Send a request for a single shutter","style":{"stroke-opacity":"0.6","fill":"#d1d1d1","fill-opacity":"0.6","label":true,"color":"#7E909D"},"nodes":["5f44a0b7e836a68b","b3dd9c34fab062fa","4ec14f341337205d","bfae18e4669b7e38","f2a111b2b3612c10","a423efa03a570aa0","3dd699e087645956","ba4f87561e0fcf09","52e61e8fcbba429d","7255ef0338ed17ee","edf695f06fad1ad4"],"x":54,"y":239,"w":372,"h":562},{"id":"fec2aca47bc3ddac","type":"group","z":"768c6b3dbed7ea7d","g":"20065e304bb0a995","name":"Monitor changes made on a single shutter","style":{"stroke-opacity":"0.6","label":true,"fill":"#d1d1d1","fill-opacity":"0.6","color":"#6A7E64"},"nodes":["a14bc4219a8f5f01","82b155ad463d333c","eb5aa6707a2d34a0"],"x":734,"y":239,"w":452,"h":322},{"id":"220c83501dd7616a","type":"comment","z":"768c6b3dbed7ea7d","g":"20065e304bb0a995","name":"!! Before you begin, do not forget to configure your gateway (open 'light' node config and select + edit the 'gateway' defined to set the IP and password) \\n \\n Within the 'light' node, you have to set its number (A=1 PL=5 becomes 15, when A>9 or PL>9, the format is 4 digits; e.g. A=11 PL=5 becomes 1105, A=1 PL=15 becomes 0115) \\n - To turn lamp on or off, simply send True/False as payload \\n - To dim it, send the percentage (20 - 100%) as payload \\n \\n Do NOT forget you also have to include a .topic which 'cmd/<<light_node_topic>>' to allow state change","info":"","x":620,"y":140,"wires":[]},{"id":"5f44a0b7e836a68b","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Start opening (\"OPEN\")","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/shutter","payload":"OPEN","payloadType":"str","x":300,"y":320,"wires":[["edd9e175b87a013b"]],"icon":"font-awesome/fa-angle-double-up"},{"id":"b3dd9c34fab062fa","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Start closing (\"CLOSE\")","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/shutter","payload":"CLOSE","payloadType":"str","x":300,"y":360,"wires":[["edd9e175b87a013b"]],"icon":"font-awesome/fa-angle-double-down"},{"id":"4ec14f341337205d","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Stop current move (\"STOP\")","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/shutter","payload":"STOP","payloadType":"str","x":280,"y":400,"wires":[["edd9e175b87a013b"]],"icon":"font-awesome/fa-stop-circle"},{"id":"bfae18e4669b7e38","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Advanced mode : msg (\"OPEN\")","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/shutter","payload":"{\"state\":\"OPEN\"}","payloadType":"json","x":270,"y":760,"wires":[["edd9e175b87a013b"]],"icon":"node-red/parser-json.svg"},{"id":"f2a111b2b3612c10","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Ask for current state","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"state/shutter","x":310,"y":660,"wires":[["edd9e175b87a013b"]],"icon":"font-awesome/fa-question-circle-o"},{"id":"a423efa03a570aa0","type":"comment","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"To ask for light current state, simply set \\n a Topic 'state/<<shutter_node_topic>>' ","info":"","x":250,"y":600,"wires":[]},{"id":"3dd699e087645956","type":"comment","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Build your own advanced msg if needed","info":"","x":240,"y":720,"wires":[]},{"id":"a14bc4219a8f5f01","type":"debug","z":"768c6b3dbed7ea7d","g":"fec2aca47bc3ddac","name":"Simplified output (payload=OPEN / CLOSE / STOP)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":520,"wires":[]},{"id":"82b155ad463d333c","type":"comment","z":"768c6b3dbed7ea7d","g":"fec2aca47bc3ddac","name":"Simplified output can be configured in node based on \\n what you need in your flow later on. This avoids having \\n to insert additional 'function' or 'switch' nodes. \\n See node config for more info","info":"","x":960,"y":440,"wires":[]},{"id":"eb5aa6707a2d34a0","type":"debug","z":"768c6b3dbed7ea7d","g":"fec2aca47bc3ddac","name":"Full message output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":280,"wires":[]},{"id":"edd9e175b87a013b","type":"myhome-shutter","z":"768c6b3dbed7ea7d","g":"20065e304bb0a995","name":"Shutter (A=1 / PL =9)","buslevel":"private_riser","shutterid":"32","isgroup":false,"topic":"shutter","gateway":"a4e23617.d0c288","smartfilter":true,"skipevents":false,"isstatusrequest":false,"output2_name":"","output2_type":"text_state","x":580,"y":380,"wires":[["eb5aa6707a2d34a0"],["a14bc4219a8f5f01"]]},{"id":"ba4f87561e0fcf09","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Start opening (True)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/shutter","payload":"true","payloadType":"bool","x":310,"y":500,"wires":[["edd9e175b87a013b"]],"icon":"font-awesome/fa-angle-double-up"},{"id":"52e61e8fcbba429d","type":"inject","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Start closing (False)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmd/shutter","payload":"false","payloadType":"bool","x":310,"y":540,"wires":[["edd9e175b87a013b"]],"icon":"font-awesome/fa-angle-double-down"},{"id":"7255ef0338ed17ee","type":"comment","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Trigger using \"string\" calls","info":"","x":290,"y":280,"wires":[]},{"id":"edf695f06fad1ad4","type":"comment","z":"768c6b3dbed7ea7d","g":"ec3f2571bd4200cb","name":"Trigger using \"boolean\" calls","info":"","x":280,"y":460,"wires":[]},{"id":"a4e23617.d0c288","type":"myhome-gateway","name":"F-455","host":"192.168.0.210","port":"20000","pass":"12345","timeout":"600","log_in_lights":false,"log_in_shutters":false,"log_in_temperature":false,"log_in_scenario":false,"log_in_energy":false,"log_in_others":false,"log_out_cmd":false}]